[Unit]
Description=Cpit Signage Player
After=network.target

[Service]
Type=simple
User=user
Group=user
WorkingDirectory=/opt/cpit-signage
ExecStart=/opt/cpit-signage/venv/bin/python -m app.app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
